//maps
$colors: (
    white:#FFFFFF,
    primary: #29ABE2,
    primary-tranparent:rgba(76, 172, 212, 0.48),
    gris:#F1F1F1,
    dark:#333333,
    ceniza:#B8B8B8,
);

$font-size: (
    xxs: 10px,
    xs: 12px,
    s:14px,
    m:20px,
    l: 26px,
    xl: 50px,
    xxl:65px,
);

$margin: (
    s: 3%,
    m:6%,
    l:9%
)
