.encabezado{
    width: 100%;
    height: auto;
    border-radius: 0px 0px 20px 20px;
    background: map-get($colors , primary );
    color: #fff;
    padding-top:5vh;
    padding-bottom: 5%;
    justify-content: center;
    text-align: center;
}

.encabezado-text{
    width:100%;
}

@media (min-width: 1024px) {
    .encabezado{
        border-radius: 0px 0px 50px 50px;
        padding-bottom: 3%;

    }

    .encabezado-text{
        width: 40%;
    }

}